<div class="container-fluid banner">
  <div class="col-md-3 first-name">
    <div class="vertically-align-contents">
      <div>
        Camber
      </div>
    </div>
  </div>
  <div class="col-md-6 headshot">
  </div>
  <div class="col-md-3 last-name">
    <div class="vertically-align-contents">
      <div>
        Carpenter
      </div>
    </div>
  </div>
</div>
