<div class="container-fluid banner">
  <div class="hidden-xs hidden-sm col-md-3 first-name">
    <div class="vertically-align-contents">
      <div>
        Camber
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 headshot">
  </div>
  <div class="hidden-xs hidden-sm col-md-3 last-name">
    <div class="vertically-align-contents">
      <div>
        Carpenter
      </div>
    </div>
  </div>
  <div class="col-xs-12 hidden-md hidden-lg hidden-xl full-name">
    Camber Carpenter
  </div>
</div>
