<div class="container-fluid banner">
  <div class="hidden-xs hidden-sm col-md-3 first-name">
    <div class="vertically-align-contents">
      <div>
        Camber
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 headshot">
  </div>
  <div class="hidden-xs hidden-sm col-md-3 last-name">
    <div class="vertically-align-contents">
      <div>
        Carpenter
      </div>
    </div>
  </div>
  <div class="col-xs-12 hidden-md hidden-lg hidden-xl full-name">
    Camber Carpenter
  </div>
</div>
<hr />
<div class="container">
  <div class="row blurb">
    <div class="col-xs-12">
      <p>Camber Carpenter is a human and actor living in New York City. She grew up in the Midwest, so occasionally she still says hello to strangers. After graduating from South Dakota State University, Camber worked in Hong Kong and Italy as a Theater in Education (TIE) actor. Now, you can see her every Tuesday night at the Magnet Theater with the musical improv house team, Wonderland.</p>
      <p>In May, she will graduate from the Neighborhood Playhouse School of the Theatre and begin auditioning professionally again.</p>
    </div>
  </div>
  <div class="row resume-download">
    <div class="col-xs-12">
      <a href="/Camber Carpenter.pdf" target="_blank">Download Resume</a>
    </div>
  </div>
</div>
