<div class="container onwords">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Onwords</h1>
      <h2 class="text-center">Increase your vocabulary one joke at a time.</h2>
    </div>
  </div>
  <div class="row">
    <% @episodes.each do |episode| %>
      <div class="col-xs-12 col-md-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= episode.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <% end %>
  </div>
</div>
