<div class="container onwords">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Onwords</h1>
      <h2 class="text-center">Increase your vocabulary one joke at a time.</h2>
    </div>
  </div>
  <div class="videos">
    <% @episodes.each_with_index do |episode, index| %>
      <% if index.zero? %>
        <div class="row">
      <% end %>
      <div class="col-xs-12 col-md-6">
        <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= episode.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="title"><%= "Episode #{episode.number} - #{episode.title}" %></p>
        <p class="synopsis"><%= episode.synopsis %></p>
      </div>
      <% if index.odd? %>
        </div>
        <% if index < (@episodes.length - 1) %>
          <div class="row">
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="more" href="/" target="_blank">Learn more about Camber</a>
    </div>
  </div>
</div>
