<div class="row schedule">
  <% @events.each do |event| %>
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <p><%= event.time.strftime("%B %-d - %-l:%M %P") %></p>
      <p><%= event.title %></p>
      <%= simple_format(event.text) %>
    </div>
  <% end %>
</div>
