@mixin default-font() {
  font-family: 'TeachableSans-Regular';
  font-size: 12px;
  letter-spacing: 1.08px;
}

@mixin buttons() {
  .btn {
    border: none;
    padding: 0;
    white-space: normal;
    user-select: none;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-family: 'TeachableSans-Bold';
    padding: 15px 40px;
    border-radius: 100px;
    min-width: 175px;
    color: white;
    background-color: #013ADF;

    &.float-button {
      float: right;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: #0431B4;
      color: white;
    }
  }

  .delete-button {
    min-width: 0;
    float: right;
    padding: 15px 30px;
    color: #E9563D;
    border: solid 0.5px #E9563D;
    background-color: white;

    &:hover {
      background-color: #FBDDD8;
      color: #E9563D;
    }
  }
}

.white-box {
  background: #FFFFFF;
  padding: 36px 32px;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0px #E6E9EC;
  position: relative;
  color: #5F5F5F;

  h2 {
    font-family: 'TeachableSans-Medium';
    font-size: 12px;
    color: #2C2F33;
    margin-bottom: 15px;
  }

  input, textarea {
    width: 100%;

    &.error {
      border-color: red;
    }
  }
}

#admin-framework {
  @include default-font;
  @include buttons;
  background-color: #F5F6F7;
  height: 100%;

  #admin-row {
    height: 100%;
    margin: 0;

    #admin-sidebar {
      height: 100%;
      background-color: white;
      padding: 36px 32px;

      input {
        width: 100%;
        margin-bottom: 30px;
      }

      li {
        font-family: 'TeachableSans-SemiBold';
        font-size: 13px;
        color: #B0B0B0;
        padding-bottom: 30px;

        .highlight {
          color: #013ADF;
          cursor: default;
          font-family: 'TeachableSans-ExtraBold';
        }
      }
    }

    #admin-right-column {
      height: 100%;
      padding: 30px 40px 0 40px;

      .component {
        margin-bottom: 62px;

        h1 {
          margin-top: 10px;
          display: inline-block;
          font-size: 20px;
          color: #2C2F33;
          letter-spacing: 1.08px;
          margin-bottom: 28px;
        }

        .yesFieldError {
          margin-top: 10px;
          line-height: 16px;
          color: red;
          margin-bottom: 20px;
        }

        .noFieldError {
          margin-bottom: 36px;
        }

        table.admin-table {
          width: 100%;

          thead {
            border-bottom: solid 1px #DADEE2;

            th {
              font-family: 'TeachableSans-SemiBold';
              padding-bottom: 20px;
              color: black;
            }
            th:first-of-type {
              padding-left: 10px;
            }
          }

          tbody {

            td {
              padding-top: 10px;
              position: relative;
              padding-bottom: 10px;
              color: #96939B;
            }

            tr.bold td, td.bold {
              font-family: 'TeachableSans-Medium';
              color: black;
            }

            td.indent {
              padding-left: 10px;
            }

            tr:first-child {
              td {
                padding-top: 10px;
                padding-bottom: 0;
              }
            }
          }

          tr:not(:first-child) {
            cursor: pointer;
          }

          tr:not(:first-child):hover {
            background-color: #F5F5F5;
          }
        }
      }
    }
  }
}

.admin-modal {
  @include default-font;
  @include buttons;

  .yesFieldError {
    margin-top: 10px;
    line-height: 16px;
    color: red;
    margin-bottom: 20px;
  }

  .noFieldError {
    margin-bottom: 46px;
  }

  .confirm-delete {

    h1 {
      color: #2C2F33;
      font-family: 'TeachableSans-SemiBold';
      font-size: 20px;
      line-height: 27px;
      margin: auto;
      margin-bottom: 10px;
    }

    .btn {
      width: 124px;
      padding-left: 0;
      padding-right: 0;
      margin-top: 30px;
      margin-right: 20px;
      margin-left: 20px;
    }

    p {
      font-family: 'TeachableSans-SemiBold';
      font-size: 14px;
      color: black;
    }
  }
}

.events-index {

  th:first-of-type {
    width: 200px;
  }
}
