#admin-framework {
  background-color: #F5F6F7;
  height: 100%;
  font-family: 'TeachableSans-Regular';
  font-size: 12px;
  letter-spacing: 1.08px;

  #admin-row {
    height: 100%;
    margin: 0;

    #admin-sidebar {
      height: 100%;
      background-color: white;
      padding: 36px 32px;

      input {
        width: 100%;
      }
    }

    #admin-right-column {
      height: 100%;
      padding: 40px;
    }
  }
}

.component {
  margin-bottom: 62px;

  h1 {
    font-size: 20px;
    color: #2C2F33;
    letter-spacing: 1.08px;
    margin-bottom: 28px;
  }
}

.white-box {
  background: #FFFFFF;
  padding: 36px 32px;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0px #E6E9EC;
  position: relative;
  color: #5F5F5F;


}

table.admin-table {
  width: 100%;

  thead {
    border-bottom: solid 1px #DADEE2;

    th {
      font-family: 'TeachableSans-SemiBold';
      padding-bottom: 20px;
      color: black;
    }
    th:first-of-type {
      padding-left: 10px;
    }
  }

  tbody {

    td {
      padding-top: 10px;
      position: relative;
      padding-bottom: 10px;
      color: #96939B;
    }

    tr.bold td, td.bold {
      font-family: 'TeachableSans-Medium';
      color: black;
    }

    td.indent {
      padding-left: 10px;
    }

    tr:first-child {
      td {
        padding-top: 10px;
        padding-bottom: 0;
      }
    }
  }

  tr:not(:first-child) {
    cursor: pointer;
  }

  tr:not(:first-child):hover {
    background-color: #F5F5F5;
  }
}

.events-index {

  th:first-of-type, th:nth-of-type(2) {
    width: 150px;
  }
}
