.banner {
  font-family: 'TeachableSans-Bold';
  padding: 0;
  font-size: 40px;
  @include breakpoint(lg) {
    font-size: 50px;
  }

  .first-name, .last-name {

    > div {
      height: 400px;

      div {
        width: 100%;
        text-align: center;
      }
    }
  }

  .headshot {
    background-image: asset-url('home-headshot.jpg');
    height: 400px;
    background-position: 50%;
    background-size: cover;
    padding: 0;
  }

  .full-name {
    text-align: center;
    padding: 20px 0;
    font-size: 60px;
  }
}

hr:nth-of-type(2) {
  margin-bottom: 30px;
}

.blurb {
  font-size: 18px;

  p:first-of-type {
    margin-bottom: 20px;
  }
}

.menu {
  padding: 30px 0;
  font-family: 'TeachableSans-Bold';
  color: black;
  font-size: 20px;
  text-align: center;

  a:not(last-of-type) {
    margin-right: 80px;
  }

  a.highlight {
    cursor: default;
    color: #C22222;
  }
}

.schedule {
  margin-bottom: 60px;

  p {
    font-size: 18px;
  }

  p:first-of-type {
    font-family: 'TeachableSans-SemiBold';
    font-size: 16px;
    margin-bottom: 4px;
  }

  p:nth-of-type(2) {
    font-family: 'TeachableSans-Bold';
    font-size: 20px;
    margin-bottom: 8px;
  }

  p:last-of-type {
    margin-bottom: 30px;
  }

  a {
    color: red;
  }
}

.gallery {
  margin-bottom: 100px;

  .image {
    display: block;
    background-size: contain;
    background-position: 50%;
    background-color: #D8D8D8;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;

    @include breakpoint(xs-sm) {
      margin-bottom: 40px;
    }
  }
}

a.lb-close {
  display: none !important;
}
