#clearance {

  margin: auto;
  margin-top: 30px;
  width: 90%;
  max-width: 800px;
  border-radius: 5px;
  text-align: center;
  font-family: 'TeachableSans-SemiBold';

  #content {
    font-size: 14px;

    #flash-message {
      color: red;
      margin-bottom: 10px;
    }

    .text-field, .password-field {
      display: block;
      width: 80%;
      margin: auto;
      text-align: left;

      input {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }

    .submit-field {
      input {
        display: inline-block;
        font-family: 'TeachableSans-Bold';
        font-size: 12px;
        padding: 15px 40px;
        border-radius: 100px;
        border: none;
        color: white;
        background-color: #013ADF;
        letter-spacing: 1.08px;
      }

      input:hover {
        background-color: #0431B4;
      }
    }
  }
}
